body {
  margin: 0;
  padding: 0;
}
body header nav {
  padding-top: 20px !important;
}
body header nav .container .offcanvas .container form input {
  border-radius: 0;
  color: #000;
}
body header nav .container .offcanvas .container form button {
  border-radius: 0;
  background-color: transparent;
  color: #ccc;
  border-color: #ccc;
}
body header nav .container .offcanvas .container form button:hover {
  color: #fff;
  border-color: #fff;
}
body header .dropdown-menu {
  border-radius: 0;
  border-color: #ccc;
  background-color: rgba(0, 0, 0, 0.641);
}
body header .dropdown-menu li a {
  color: #fff;
}
body header .dropdown-menu li .dropdown-divider {
  color: #ccc;
  border-color: #ccc;
}
body header .dropdown-item.active,
body header .dropdown-item:active {
  background-color: var(--bs-dropdown-link-hover-bg);
  color: var(--bs-dropdown-link-color);
}
body #hero .video-background #video1 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -2;
}
body #hero .login {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #hero .login form {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
  padding: 30px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.541);
}
body #hero .login form .correo input {
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
}
body #hero .login form .password input {
  background-color: rgba(0, 0, 0, 0.719);
  color: #fff;
}
body #hero .login form .registro p a {
  text-decoration: none;
}
body #hero .login form .registro p a b:hover {
  color: rgb(148, 148, 148);
}
body #hero .login form .botones-form button {
  background-color: #000;
  border-color: #fff;
}
body #hero .login form .botones-form button:hover {
  background-color: rgba(82, 9, 9, 0.404);
  border-color: rgba(82, 9, 9, 0.404);
  border-color: #fff;
}
body #hero .register {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
body #hero .register form {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
  padding: 30px;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.541);
}
body #hero .register form .correo input {
  background-color: rgba(0, 0, 0, 0.719);
  color: white;
}
body #hero .register form .password input {
  background-color: rgba(0, 0, 0, 0.719);
  color: #fff;
}
body #hero .register form .selectPreferences .form-select {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
body #hero .register form .registro p a {
  text-decoration: none;
}
body #hero .register form .registro p a b:hover {
  color: rgb(148, 148, 148);
}
body #hero .register form .botones-form button {
  background-color: #000;
  border-color: #fff;
}
body #hero .register form .botones-form button:hover {
  background-color: rgba(82, 9, 9, 0.404);
  border-color: rgba(82, 9, 9, 0.404);
  border-color: #fff;
}
body .recomendaciones {
  min-height: 94vh;
}
body .recomendaciones .moviesByGenre {
  padding: 0px 42px 0px 42px;
}
body .recomendaciones .moviesByGenre h1 {
  color: #ccc;
  font-size: 2rem;
  padding-top: 20px;
}
body .recomendaciones .moviesByGenre #peliculasAPIRecomendadas .col a img {
  height: 293px !important;
  border-radius: 0.2em;
  object-fit: cover;
}
body .recomendaciones .moviesByActor {
  padding: 0px 42px 50px 42px;
}
body .recomendaciones .moviesByActor h1 {
  color: #ccc;
  font-size: 2rem;
  padding-top: 20px;
}
body .recomendaciones .moviesByActor #actoresAPIRecomendados .col a img {
  height: 293px !important;
  border-radius: 0.2em;
  object-fit: cover;
}
body .recomendaciones .moviesByDirector {
  padding: 0px 42px 30px 42px;
}
body .recomendaciones .moviesByDirector h1 {
  color: #ccc;
  font-size: 2rem;
}
body .recomendaciones .moviesByDirector #directoresAPIRecomendados .col a img {
  height: 293px !important;
  border-radius: 0.2em;
  object-fit: cover;
}
body .adminPerfil .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .adminPerfil .container form {
  padding: 2rem 0;
}
body .adminPerfil .container form .titleAdmin {
  font-size: 4vw;
  font-weight: 400;
  font-family: Helvetica;
  border-bottom: 1px solid #666;
  color: #fff;
}
body .adminPerfil .container form hr {
  padding: 0;
  margin: 20px 0 5px 0;
}
body .adminPerfil .container form div input {
  background-color: #666;
  border-color: #666;
  border-radius: 0;
  color: white;
}
body .adminPerfil .container form div select {
  background-color: #666;
  border-radius: 0;
  color: white;
}
body .adminPerfil .container form div button {
  border-radius: 0;
  margin: 0px 20px;
  background-color: transparent;
  color: #ccc;
  border-color: #ccc;
}
body .adminPerfil .container form div button:hover {
  color: #fff;
  border-color: #fff;
}
body .adminPerfil .container form div button a {
  text-decoration: none;
  color: #ccc;
}
body .adminPerfil .container form div button a:hover {
  color: #fff;
}
body .adminPerfil .container .form-control::placeholder {
  color: #ccc;
}
body .resultadosDeBusqueda {
  min-height: 100vh;
}
body .resultadosDeBusqueda .container {
  padding: 30px 42px 50px 42px;
}
body .resultadosDeBusqueda .container .titlesMovies span {
  font-size: 1.125vw;
  color: grey;
  flex: 0 auto;
  margin-right: 15px;
  white-space: nowrap;
}
body .resultadosDeBusqueda .container .titlesMovies .movies {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
body .resultadosDeBusqueda .container .titlesMovies .movies li {
  border-right: 1px solid #fff;
}
body .resultadosDeBusqueda .container .titlesMovies .movies li .titleMovie a {
  text-decoration: none;
  font-size: 1.125vw;
  color: #fff;
  padding: 0 10px;
  line-height: 1.6;
}
body .resultadosDeBusqueda .container .titlesMovies .movies li .titleMovie a:hover {
  color: red;
}
body .resultadosDeBusqueda .container #movieResults .col a img {
  height: 293px !important;
  border-radius: 0.2em;
}
body .detallesDeLaPelicula {
  min-height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .detallesDeLaPelicula .container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
body .detallesDeLaPelicula .container .imageDetail {
  border: 3px solid white;
}
body .detallesDeLaPelicula .container #movieDetail {
  width: 55%;
}
body .detallesDeLaPelicula .container #movieDetail .titleMovie {
  color: rgb(207, 204, 25);
  padding-bottom: 10px;
}
body .detallesDeLaPelicula .container #movieDetail .year {
  display: flex;
  gap: 5px;
}
body .detallesDeLaPelicula .container #movieDetail .year .rated {
  background-color: rgba(125, 151, 22, 0.625);
  padding: 0 5px;
  border-radius: 0.2em;
}
body .detallesDeLaPelicula .container #movieDetail .genre p {
  background-color: rgba(125, 151, 22, 0.625);
  padding: 0 5px;
  border-radius: 0.1em;
}
body .detallesDeLaPelicula .container #movieDetail .language {
  color: rgb(207, 204, 25);
}
body .detallesDeLaPelicula .container #movieDetail .nominated p i {
  color: rgb(207, 204, 25);
}
body .resultadosDeSeries {
  min-height: 94vh;
}
body .resultadosDeSeries .container {
  padding: 0px 42px 50px 42px;
}
body .resultadosDeSeries .container #seriesAPI .col a img {
  height: 293px !important;
  border-radius: 0.2em;
  object-fit: cover;
}
body .resultadosDePeliculas {
  min-height: 100vh;
}
body .resultadosDePeliculas .container {
  padding: 0px 42px 50px 42px;
}
body .resultadosDePeliculas .container #peliculasAPI .col a img {
  height: 293px !important;
  border-radius: 0.2em;
  object-fit: cover;
}

/*# sourceMappingURL=main.css.map */
