body {
  margin: 0;
  padding: 0;

  // Header
  header {
    nav {
      padding-top: 20px !important;
      .container {
        .offcanvas {
          .container {
            form {
              input {
                border-radius: 0;
                // background-color: transparent;
                color: #000;
              }

              button {
                border-radius: 0;
                background-color: transparent;
                color: #ccc;
                border-color: #ccc;

                &:hover {
                  color: #fff;
                  border-color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .dropdown-menu {
      border-radius: 0;
      border-color: #ccc;
      background-color: rgba(0, 0, 0, 0.641);
      li {
        a {
          color: #fff;
        }
        .dropdown-divider {
          color: #ccc;
          border-color: #ccc;
        }
      }
    }
    .dropdown-item.active,
    .dropdown-item:active {
      background-color: var(--bs-dropdown-link-hover-bg);
      color: var(--bs-dropdown-link-color);
    }
  }

  // Main
  main {
    min-height: 100vh;
    position: relative;

    .video-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh !important;
      object-fit: content;
    }

    .login {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      z-index: 2;
      position: relative;
      padding-top: 180px;
      form {
        // width: 30%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0.5em;
        padding: 30px;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.541);

        .title-form {
          h1 {
            // font-weight: bold;
          }
        }
        .correo {
          input {
            background-color: rgba(0, 0, 0, 0.719);
            color: white;
          }
        }

        .password {
          input {
            background-color: rgba(0, 0, 0, 0.719);
            color: #fff;
          }
        }
        .registro {
          p {
            a {
              text-decoration: none;
              b {
                &:hover {
                  color: rgb(148, 148, 148);
                }
              }
            }
          }
        }
        .botones-form {
          button {
            background-color: #000;
            border-color: #fff;

            &:hover {
              background-color: rgba(82, 9, 9, 0.404);
              border-color: rgba(82, 9, 9, 0.404);
              border-color: #fff;
            }
          }
        }
      }
    }

    .register {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      z-index: 2;
      position: relative;
      padding-top: 20px;
      form {
        // width: 30%;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 0.5em;
        padding: 30px;
        box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.541);

        .title-form {
          h1 {
            // font-weight: bold;
          }
        }
        .correo {
          input {
            background-color: rgba(0, 0, 0, 0.719);
            color: white;
          }
        }

        .password {
          input {
            background-color: rgba(0, 0, 0, 0.719);
            color: #fff;
          }
        }
        .selectPreferences {
          .form-select {
            background-color: rgba(0, 0, 0, 0.4);
            color: #fff;
          }
        }

        .registro {
          p {
            a {
              text-decoration: none;
              b {
                &:hover {
                  color: rgb(148, 148, 148);
                }
              }
            }
          }
        }
        .botones-form {
          button {
            background-color: #000;
            border-color: #fff;

            &:hover {
              background-color: rgba(82, 9, 9, 0.404);
              border-color: rgba(82, 9, 9, 0.404);
              border-color: #fff;
            }
          }
        }
      }
    }
  }

  // Recomendaciones Sesión Usuario
  .recomendaciones {
    .moviesByGenre {
      padding: 0px 42px 0px 42px;
      h1 {
        color: #ccc;
        font-size: 2rem;
        padding-top: 20px;
      }
      #peliculasAPIRecomendadas {
        .col {
          a {
            img {
              height: 293px !important;
              border-radius: 0.2em;
              object-fit: cover;
            }
          }
        }
      }
    }
    .moviesByActor {
      padding: 0px 42px 50px 42px;
      h1 {
        color: #ccc;
        font-size: 2rem;
        padding-top: 20px;
      }
      #actoresAPIRecomendados {
        .col {
          a {
            img {
              height: 293px !important;
              border-radius: 0.2em;
              object-fit: cover;
            }
          }
        }
      }
    }
    .moviesByDirector {
      padding: 0px 42px 30px 42px;
      h1 {
        color: #ccc;
        font-size: 2rem;
        // padding-top: 20px;
      }
      #directoresAPIRecomendados {
        .col {
          a {
            img {
              height: 293px !important;
              border-radius: 0.2em;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  // Página CRUD -> Administrar Perfil
  .adminPerfil {
    .container {
      padding-bottom: 3rem;
      form {
        .titleAdmin {
          padding-top: 20px;
          font-size: 4vw;
          font-weight: 400;
          font-family: Helvetica;
          border-bottom: 1px solid #666;
          color: #fff;
        }
        hr {
          padding: 0;
          margin: 20px 0 5px 0;
        }
        div {
          input {
            background-color: #666;
            border-color: #666;
            border-radius: 0;
            color: white;
          }
          select {
            background-color: #666;
            border-radius: 0;
            color: white;
          }
          button {
            border-radius: 0;
            margin: 0px 20px;
            background-color: transparent;
            color: #ccc;
            border-color: #ccc;

            &:hover {
              color: #fff;
              border-color: #fff;
            }

            a {
              text-decoration: none;
              color: #ccc;

              &:hover {
                color: #fff;
              }
            }
          }
        }
      }
      .form-control::placeholder {
        color: #ccc;
      }
    }
  }

  //Resultados de búsqueda
  .resultadosDeBusqueda {
    .container {
      padding: 30px 42px 50px 42px;
      .titlesMovies {
        span {
          font-size: 1.125vw;
          color: grey;
          flex: 0 auto;
          margin-right: 15px;
          white-space: nowrap;
        }
        .movies {
          padding-left: 0;
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
          li {
            border-right: 1px solid #fff;
            .titleMovie {
              a {
                text-decoration: none;
                font-size: 1.125vw;
                color: #fff;
                padding: 0 10px;
                line-height: 1.6;

                &:hover {
                  color: red;
                }
              }
            }
          }
        }
      }
      #movieResults {
        .col {
          a {
            img {
              height: 293px !important;
              border-radius: 0.2em;
            }
          }
        }
      }
    }
  }

  //Detalles de Película
  .detallesDeLaPelicula {
    .container {
      padding-top: 5rem;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      .imageDetail {
        border: 3px solid white;
      }
      #movieDetail {
        width: 55%;
        .titleMovie {
          color: rgb(207, 204, 25);
          padding-bottom: 10px;
        }
        .year {
          display: flex;
          gap: 5px;
          .rated {
            background-color: rgba(125, 151, 22, 0.625);
            padding: 0 5px;
            border-radius: 0.2em;
          }
        }
        .genre {
          p {
            background-color: rgba(125, 151, 22, 0.625);
            padding: 0 5px;
            border-radius: 0.1em;
          }
        }
        .language {
          color: rgb(207, 204, 25);
        }
        .nominated {
          p {
            i {
              color: rgb(207, 204, 25);
            }
          }
        }
      }
    }
  }

  //Resultados de Series
  .resultadosDeSeries {
    .container {
      padding: 0px 42px 50px 42px;
      #seriesAPI {
        .col {
          a {
            img {
              height: 293px !important;
              border-radius: 0.2em;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

  //Resultados de Peliculas
  .resultadosDePeliculas {
    .container {
      padding: 0px 42px 50px 42px;
      #peliculasAPI {
        .col {
          a {
            img {
              height: 293px !important;
              border-radius: 0.2em;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
